@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #f9f9fb;
  min-height: 100vh;
  padding-bottom: 100px;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block-card {
  background-color: white;
  width: 700px;
}

.is-flex {
  display: flex;
}

.align-item-end {
  align-items: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.balance-card {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 10px;
}

.mining-card {
  border-radius: 10px;
}

.transaction-card {
  background: linear-gradient(45deg, #312a6c, #852d91);
  border-radius: 10px;
}
